@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}



.coinSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;

}

.coinText {
  margin-bottom: 12px;
}

form input {
  padding: 8px;

}